<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="gazebo" default="false" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:property name="rplidar_x_offset"              value="${-4*cm2m}"/>
  <xacro:property name="rplidar_y_offset"              value="${0*cm2m}"/>
  <xacro:property name="rplidar_z_offset"              value="${9.8715*cm2m}"/>

  <xacro:property name="oakd_pro_x_offset"             value="${5.84*cm2m}"/>
  <xacro:property name="oakd_pro_y_offset"             value="${0*cm2m}"/>
  <xacro:property name="oakd_pro_z_offset"             value="${9.676*cm2m}"/>

  <xacro:include filename="$(find gobilda_robot)/urdf/gobilda_description.urdf.xacro" />
  <xacro:include filename="$(find gobilda_robot)/ros2_control/gobilda.ros2_control.xacro" />
  <!-- Adding files for the sensors on the robot -->
  <xacro:include filename="$(find gobilda_robot)/urdf/sensors/rplidar.urdf.xacro" />
  <xacro:include filename="$(find gobilda_robot)/urdf/sensors/oakd.urdf.xacro" />

  <xacro:gobilda_robot prefix="$(arg prefix)" />
  <xacro:gobilda_ros2_control name="Gobilda" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>

  <!-- Gobilda sensor definitions -->
  <xacro:rplidar name="rplidar" parent_link="base_link" gazebo="$(arg gazebo)">
    <origin xyz="${rplidar_x_offset} ${rplidar_y_offset} ${rplidar_z_offset}"/>
  </xacro:rplidar>

  <xacro:oakd model="pro" parent_link="base_link">
    <origin xyz="${oakd_pro_x_offset} ${oakd_pro_y_offset} ${oakd_pro_z_offset}"/>
  </xacro:oakd>

</robot>
